* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: midnightblue;
    color: aliceblue;
}

h1 {
    padding: 20px;
    color: white;
    background-color: crimson;
    margin: 0;
}

p {
    margin: 1em 0 0 1em;
    display: inline-block;
    font-size: 20px;
    width: 300px;
}

.p1 {
    padding-left: 20px;
}

.p2,
.p3 {
    border-left: 1px solid lightgray;
    padding: 20px;
}