body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    background-color: gainsboro;
}

.cabecalho {
    height: 120px;
    background-color: rgb(0, 45, 103);
}

.menu {
    display: block;
    height: 50px;
background-color: #333;
}

.corpo {
    margin: 0 auto;
    background-color: greenyellow;
    width: 60vw;
    height: calc(100vh - 290px);
}

.rodape {
    background-color: blueviolet;
    height: 120px;
}
