div.cabecalho {
    padding-top: 20px;
}

div.cabecalho h1 span {
    display: block;
    font-size: 40px;
}

div.hero {
    background-color: white;
    width: 100%;
    overflow: hidden;
}

div.contrate-me {
    float: left;
    font-size: 26px;
    white-space: pre-line;
}

div.contrate-me a {
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    background-color: #333;
}

div.contrate-me a:hover {
    color: #333;
    background-color: white;
    border: 1px solid #333;
}

div.hero-img img {
    float: right;
    width: 60%;
}

div.card {
    display: inline-block;
    background-color: white;
    width: 32%;
}

div.icon img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

div.content {
    position: relative;
    height: 250px;
    overflow: auto;
}

div.precos table {
    background-color: #ddd;
    border-collapse: collapse;
}

div.precos th,
div.precos td {
    width: 33%;
    text-align: center;
    border: 1px solid #eee;
    padding: 20px;
}

div.precos th:nth-of-type(2) {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 26px;
    background-color: rgb(137, 155, 137);
}

div.precos td:nth-of-type(2) {
    background-color: rgb(188, 205, 188);
}

div.precos tfoot td {
    height: 80px;
}

div.precos tfoot a {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}

div.precos tfoot a:hover {
    border: 1px solid #333;
    background-color: white;
    color: #333;
}

div.contato {
    background-color: gray;
    padding: 20px;
}

div.contato table {
    width: calc(62vw - 70px);
    border-collapse: collapse;
}

div.contato td {
    text-align: center;
    width: 33%;
    padding: 20px;
    border: 1px solid #ddd;
}

div.contato td:nth-of-type(2) {
    background-color: rgb(137, 155, 137);
}

div.contato td,
div.contato td a {
    text-decoration: none;
    color: white;
}

div.contato img {
    margin: auto;
    margin-bottom: 20px;
    width: 70px;
    display: block;
}

div.contato form > div {
    margin: 1em 0;
}

div.contato form label {
    display: block;
    margin-bottom: 5px;
}

div.contato form input:not([type="submit"]),
div.contato form select {
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 10px;
}

div.contato input[type="submit"] {
    margin-top: 20px;
    border: none;
    padding: 20px 50px;
    background-color: #222;
    color: white;
}

#mensagem {
    width: 100%;
}

div.rodape {
    color: white;
    text-align: center;
    display: block;
}