@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

body {
    background-color: #eee;
}

hr {
    border: none;
    background-color: #ddd;
    height: 10px;
}

div.conteiner {
    width: 80vw;
    margin: 0 auto;
}

div.areaesquerda {
    padding: 20px;
    float: left;
    background-color: white;
    width: 18vw;
    height: 100vh;
    position: fixed;
}

div.areadireita {
    width: 62vw;
    margin-left: 18vw;
    padding: 0 15px;
}

div.contato,
div.projetos,
div.precos {
    width: calc(62vw - 30px);
}